{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "linebreak-style": "off",
    "global-require": "off",
    "arrow-parens": "off",
    "comma-dangle": "off"
  },
  "globals": {
    "window": true,
    "document": true
  }
}
